.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(0, 128, 51);
  padding: 10px;
}

.header{
  padding: 10px;
}

h1 { 
    color: rgb(0, 255, 166);
}

h3 { 
  color: slategray;
}

body  {
  padding: 10px;
  background-color: white;
}